*{
	padding:0;
	margin:0;
}
body{
	font-family:microsoft,arial,verdana,"times new roman";
	font-size:14px;
	color:#000;
	
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
.over:before,.over:after{
	content:"";
	display:table;
}
.over:after{
	clear:both;
}
.container{
	margin:0 auto;
	width:1170px;
}
.padding{
	padding:100px 0;
}
.text{
	text-align:center;
	text-transform:uppercase;
	color:#8d8c8c;
}
.text h1{
	font-size:36px;
	margin-bottom:30px;
}
.text p{
	font-size:18px;
	margin-bottom:50px;
}
/* header area start */
.header-area{
	background:url(img/slide.jpg) no-repeat center / cover;
	
}
.logo{
	float:left;
}
.menu{
	float:right;
}
.menu ul{}
.menu ul li{
	float:left;
	margin-right:20px;
	font-weight:700;
	text-transform:uppercase;
}
.menu ul li a{
	color:#fff;
}
.menu ul li a:hover{
	color:#87d37c;
}
.banner{
	text-align:center;
	text-transform:uppercase;
	color:#fff;
	margin:100px 0;
}
.banner h1{
	font-size:100px;
	border:2px solid #fff;
	display:inline-block;
	padding:25px 30px;
	margin:15px 0;
}
.banner h1 span{
	color:#87d37c;
}
			/* header end */
			
			/* about area start */
.about{
	width:25%;
	float:left;
	color:#8d8c8c;
}
.about:hover{color:#87d37c;}
.about h2{
	font-size:24px;
	margin:10px 0;
	text-transform:uppercase;
}
.about i.fa{
	font-size:139px;
}
					/* about area end */
				/* service area start */
.service-area{
	background:#f6f6f6;
}
.service{
	float:left;
	width:25%;
}
				/* service area end */
				
				/* contact area */
.contact-area{color:#8d8c8c;}
.blocks{ margin-bottom:35px;}
.block:hover{color:#87d37c;}
.block{
	width:33%;
	float:left;
}
.block h4{
	font-size:30px;
}
.block p{font-size:18px;}
.block i.fa{
	font-size:139px;
}
.form-left{
	float:left;
	width:50%;
}
.form-left input{
	width:500px;
	height:40px;
	margin-bottom:20px;
}
.form-right{
	float:right;
	width:50%;
}
.form-right input[type=text]{
	width:600px;
	height:100px;
	margin-bottom:20px;
}
.form-right input[type=submit]{
	background:#87d37c;
	color:#fff;
	padding:12px 15px;
	font-size:16px;
}
.form-right input[placeholder],.form-left input[placeholder]{
	padding-left:30px;
	
}
				/* contact area end */

				/* font-awsome area start */
			
.font a i.fa{
	font-size:40px;
	border-radius:50%;
	padding:15px;
	color:#fff;
}
.font-awsome{
	text-align:center;
	background:#030303;
	padding:20px;
}
				/* font awsome end */